[submodule "deps/concordium-rust-sdk"]
	path = deps/concordium-rust-sdk
	url = ../concordium-rust-sdk.git
[submodule "deps/concordium-browser-wallet"]
	path = deps/concordium-browser-wallet
	url = ../concordium-browser-wallet.git
	branch = web3Id-all-together
